<% provide(:title, 'Your Cart') %>

<div class = "showEditPanel">
    
    <h1>Cart for <%= current_user.email %></h1>

    <div id = "itemsContainer">
    
    
    <% if @cart.empty? %>
    <p>Your cart is empty! Why not add something?</p>
    <a href="/items" class="button">Continue Shopping</a>
    
    <% else %>
    <table id = "customers">
        
        <% total = 0 %>
        
        <tr>
            <td></td>
            <td>Artist</td>
            <td>Title</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Total Price</td>
            
            
            
        </tr>
        
        <% @cart.each do |id, quantity| %>
        
        <% item = Item.find_by_id(id) %>
        
        <tr>
            
            <td>
                
                <div class = "image">
                    
                    <%= link_to (image_tag item.image, :style => "height: 40px"), item %>
                    
                </div>
                
            </td>
            
            <td class = "artist"><%= link_to item.artist, item %></td>
            <td class = "title"><%= link_to item.title, item %></td>
            <td class = "price"><%= number_to_currency(item.price, :unit => "€") %></td>
            <td class = "quantity"><%= quantity %></td>
            <td class = "price"><%= number_to_currency(quantity * item.price, :unit => "€") %></td>
            <td><a href = "/cart/remove/<%= item.id %>">Remove From Cart</a></td>
            
        </tr>
        
        
            <div id = "hideThis"><%= total += quantity * item.price %></div>
            
        
        <% end %>
        
        
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><strong><br><br>Total : <%= number_to_currency(total, :unit => "€") %></td>
            
            
        </tr>
        
        <hr>
    
        
        
    </table>
    
    <hr>
    
    <p>
        <a href="/items" class="button">Continue Shopping</a>
        <a href = "/cart/clear" class = "button">Empty Cart</a>
        <a href="/checkout" class="button">Checkout</a>
    </p>    
    
    
    
    <% end %>
    
    
</div>

</div>