<% provide(:title, 'Register') %>

<div class = "showEditPanel">
  
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <table id = "customers">
    
  <tr>
    <td><%= f.label :name %></td><br />
    <td><%= f.text_field :name, autofocus: true %></td>
  </tr>
 
  
  <tr>
    <td><%= f.label :address %></td><br />
    <td><%= f.text_field :address, autofocus: true %></td>
  </tr>
  
  <tr>
    <td><%= f.label :phone %></td><br />
    <td><%= f.text_field :phone, autofocus: true %></td>
  </tr>
  
    
  <tr>
    <td><%= f.label :email %></td><br />
    <td><%= f.email_field :email, autofocus: true %></td>
  </tr>

  <tr>
    <td><%= f.label :password %></td>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <td><%= f.password_field :password, autocomplete: "off" %></td>
  </tr>

  <tr>
   <td> <%= f.label :password_confirmation %></td><br />
    <td><%= f.password_field :password_confirmation, autocomplete: "off" %></td>
  </tr>

  <tr>
    <td></td>
    <td><%= f.submit "Sign up" %></td>
  </tr>
<% end %>

  </table>
<br>

</div>
