<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class = "field">
  <tr>
    <td><%= form.label :order_id %></td>
    <td><%= form.text_field :order_id, id: :order_order_id %></td>
  </tr>

  <tr>
    <td><%= form.label :order_date %></td>
    <td><%= form.datetime_select :order_date, id: :order_order_date %></td>
  </tr>

  <tr>
    <td><%= form.label :user_id %></td>
    <td><%= form.text_field :user_id, id: :order_user_id %></td>
  </tr>

  <tr>
    <td><%= form.label :status %></td>
    <td><%= form.text_field :status, id: :order_status %></td>
  </tr>

  <tr>
    <td></td>
    <td><%= form.submit %></td>
  </tr>
</table>
<% end %>
