<% provide(:title, 'Log In') %>

<div class = "showEditPanel">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<table id = "customers">
  <tr>
    <td><%= f.label :email %></td>
    <td><%= f.email_field :email, autofocus: true %></td>
  </tr>

  <tr>
    <td><%= f.label :password %></td><br />
    <td><%= f.password_field :password, autocomplete: "off" %></td>
  </tr>

  <% if devise_mapping.rememberable? -%>
    <tr>
     <td><%= f.check_box :remember_me %></td>
      <td><%= f.label :remember_me %></td>
    </tr>
  <% end -%>

  <tr>
    <td></td>
    <td><%= f.submit "Log in" %></td>
  </tr>
<% end %>




</table>
<br>

<%= render "devise/shared/links" %>

</div>