<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reference_ID %>
    <%= form.text_field :reference_ID, id: :item_reference_ID %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :item_title %>
  </div>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist, id: :item_artist %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre, id: :item_genre %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_select :release_date, :start_year => Date.current.year, :end_year => 1950, id: :item_release_date %>
  
  </div>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label, id: :item_label %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :item_image %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :item_price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
