<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table class = "field">
  <tr>
    <td><%= form.label :reference_ID %></td>
    <td><%= form.text_field :reference_ID, id: :item_reference_ID %></td>
  </tr>

  <tr>
    <td><%= form.label :title %></td>
    <td><%= form.text_field :title, id: :item_title %></td>
  </tr>

  <tr>
    <td><%= form.label :artist %></td>
    <td><%= form.text_field :artist, id: :item_artist %></td>
  </tr>

  <tr>
    <td><%= form.label :genre %></td>
    <td><%= form.text_field :genre, id: :item_genre %></td>
  </tr>

  <tr>
    <td><%= form.label :release_date %></td>
    <td><%= form.date_select :release_date, :start_year => Date.current.year, :end_year => 1950, id: :item_release_date %></td>
  </tr>
 

  <tr>
    <td><%= form.label :label %></td>
    <td><%= form.text_field :label, id: :item_label %></td>
  </tr>

  <tr>
    <td><%= form.label :image %></td>
    <td><%= form.text_field :image, id: :item_image %></td>
  </tr>

  <tr>
    <td><%= form.label :price %></td>
    <td><%= form.text_field :price, id: :item_price %></td>
  </tr>
  
  
  <tr>
    <td></td>
    <td><%= form.submit %></td>
  </tr>
  
  </table>
  
  
<% end %>
