<p id="notice"><%= notice %></p>

<p>
  <strong>Reference id:</strong>
  <%= @item.reference_ID %>
</p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @item.artist %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @item.genre %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @item.release_date %>
</p>

<p>
  <strong>Label:</strong>
  <%= @item.label %>
</p>

<p>
  <strong>Image:</strong>
  <%= @item.image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
