<header class="navBar">
  
        <div id = "topMenuItems"><%= link_to "Home", root_path %></div>
        <div id = "topMenuItems"><%= link_to "Store", items_path %></div>
        <div id = "topMenuItems"><%= link_to "About", about_path %></div>
        <div id = "topMenuItems"><%= link_to "Contact", contact_path %></div>

</header>

<div class = "searchBar">
  

  
  
  <% if user_signed_in? %>
        <% if current_user.admin? %>
        <div id = "lowerMenuItems"><a>Welcome <%= current_user.email %> (Admin)</a></div>
        <% else %>
        <div id = "lowerMenuItems"><a>Welcome <%= current_user.email %></a></div>
        <% end %>
        <div id = "lowerMenuItems">  |  </div>
        <div id = "lowerMenuItems"><%= link_to "My Account", editprofile_path %></div>
        <div id = "lowerMenuItems">  |  </div>
        <div id = "lowerMenuItems"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></div>
        <div id = "lowerMenuItems">  |  </div>
        <div id = "lowerMenuItems"><%= link_to "Cart", cart_path %></div>
        
        <% else %>
        <div id = "lowerMenuItems"><%= link_to 'Register', new_user_registration_path %></div>
        <div id = "lowerMenuItems">  |  </div>
        <div id = "lowerMenuItems"><%= link_to 'Login', new_user_session_path %></div>
        <% end %>
  
  <%= render 'layouts/search' %>

</div>