<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | RedSky Vinyl Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag   'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play">
    
  </head>

  <body>
    
    <%= render 'layouts/header' %>
    
    <div class="container">
    <%= yield %>
    </div>
    
    <%= render 'layouts/footer' %>
    
  </body>
</html>
